appserver/tests/appserv-tests/devtests/webservice/annotations/webserviceref-cobundle/SubtractNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (c) 2017, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoint/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://endpoint/" name="SubtractNumbersImplService">
    <types>
        <xs:schema xmlns:tns="http://endpoint/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   targetNamespace="http://endpoint/">

            <xs:element name="subtractNumbers" type="tns:subtractNumbers"/>

            <xs:element name="subtractNumbersResponse" type="tns:subtractNumbersResponse"/>

            <xs:complexType name="subtractNumbers">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:int"/>
                    <xs:element name="arg1" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="subtractNumbersResponse">
                <xs:sequence>
                    <xs:element name="return" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="subtractNumbers">
        <part name="parameters" element="tns:subtractNumbers"/>
    </message>
    <message name="subtractNumbersResponse">
        <part name="parameters" element="tns:subtractNumbersResponse"/>
    </message>
    <portType name="SubtractNumbers">
        <operation name="subtractNumbers">
            <input wsam:Action="http://endpoint/SubtractNumbersImpl/subtractNumbersRequest"
                   message="tns:subtractNumbers"/>
            <output wsam:Action="http://endpoint/SubtractNumbersImpl/subtractNumbersResponse"
                    message="tns:subtractNumbersResponse"/>
        </operation>
    </portType>
    <binding name="SubtractNumbersBinding" type="tns:SubtractNumbers">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="subtractNumbers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SubtractNumbersService">
        <port name="SubtractNumbersPort" binding="tns:SubtractNumbersBinding">
            <soap:address location="http://localhost:8080/webserviceref-lookup/SubtractNumbersImplService"/>
        </port>
    </service>
</definitions>
