nucleus/admin/config-api/src/main/java/com/sun/enterprise/config/modularity/parser/ServiceConfigurationSchema.xsd

<!--

    Copyright (c) 2012, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
            version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="service-config" type="service-configType"/>
    <xsd:complexType name="service-configType">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded"
                         name="config-bundle" type="config-bundleType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="config-bundleType">
        <xsd:sequence>
            <xsd:element name="customization-tokens"
                         type="customization-tokensType"/>
            <xsd:element name="configuration-element"
                         type="configuration-elementType"/>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string"/>
        <xsd:attribute name="replace-if-exist" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="configuration-elementType">
        <xsd:attribute name="config-bean-class-name" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="customization-tokensType">
        <xsd:sequence>
            <xsd:element name="customization-token" type="customization-tokenType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="customization-tokenType">
        <xsd:sequence>
            <xsd:choice minOccurs="0">
                <xsd:element name="port" type="portType" minOccurs="0"/>
                <xsd:element name="file" type="fileType" minOccurs="0"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="default-value" type="xsd:int"/>
        <xsd:attribute name="validation-expression" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="fileType">
        <xsd:attribute name="should-exist" type="xsd:boolean"/>
    </xsd:complexType>
    <xsd:complexType name="portType">
        <xsd:attribute name="base-offset" type="xsd:int"/>
    </xsd:complexType>
</xsd:schema>
