appserver/tests/appserv-tests/devtests/webservice/jbi-serviceengine/rpc_literal/bc_consumer_sc_provider/wsdl-import/wsdl/MessageTypes.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://example.web.service/Calculator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://example.web.service/Calculator" name="CalculatorService">
<!--

    Copyright (c) 2017, 2018 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

  <types>
    <xsd:schema>
      <xsd:import namespace="http://example.web.service/Calculator" schemaLocation="CalculatorService_schema1.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"/>
    </xsd:schema>
  </types>
  <message name="calculateIncomeTax">
    <part name="arg0" type="tns:incomeTaxDetails"/>
    <part name="arg1" type="tns:incomeTaxDetails"/>
    <part name="arg2" type="tns:incomeTaxDetails"/>
    <part name="arg3" type="tns:incomeTaxDetails"/>
    <part name="arg4" type="tns:incomeTaxDetails"/>
    <part name="arg5" type="tns:incomeTaxDetails"/>
    <part name="arg6" type="tns:incomeTaxDetails"/>
    <part name="arg7" type="tns:incomeTaxDetails"/>
    <part name="arg8" type="tns:incomeTaxDetails"/>
    <part name="arg9" type="tns:incomeTaxDetails"/>
  </message>
  <message name="calculateIncomeTaxResponse">
    <part name="return" type="xsd:long"/>
  </message>
  <message name="sayHi"/>
  <message name="sayHiResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="printHi"/>
  <message name="printHiResponse"/>
  <message name="printHiToMe">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="printHiToMeResponse"/>
  <message name="add">
    <part name="int_1" type="xsd:int"/>
    <part name="int_2" type="xsd:int"/>
  </message>
  <message name="addResponse">
    <part name="return" type="xsd:int"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
</definitions>
